.Footer {
    background-color: #daf6ff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 15px 25px;
}

.Footer .logo img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 40%;
    flex-wrap: wrap;
    padding-right: 100px;
}

.info .contact,
.info .links {
    text-align: left;
}

.info ul {
    list-style-type: none;
    padding: 0;
}

.info ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.info ul li a {
    color: #0730a3;
    text-decoration: none;
    transition: color 0.3s ease;
}

.info ul li a:hover {
    color: #031e65;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
    color: #333; /* Тёмный цвет */
    font-size: 24px;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.social-icons .facebook:hover {
    color: #1877F2;
}

.social-icons .instagram:hover {
    color: #E4405F;
}

.social-icons .telegram:hover {
    color: #0088CC;
}

.social-icons .email:hover {
    color: #FF8C00;
}


p {
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .Footer {
        flex-direction: column;
        align-items: center;
    }

    .info {
        width: 100%;
        display: block;
        text-align: left;
    }
}
