.Footer {
    background-color: #00576d;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Footer .logo {
    display: flex;
    align-items: center;
    width: 150px;
}

.Footer .logo img {
    width: 72px;
    height: 72px;
    border-radius: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 40%;
    flex-wrap: wrap;
    padding-right: 100px;
}

.info .contact,
.info .links {
text-align: left;
}

.info ul {
    list-style-type: none;
    padding: 0;
}

.info ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.info ul li a {
    color: #4f6dff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.info ul li a:hover {
    color: #051b32;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

p {;
    font-size: 12px;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .Footer {
        flex-direction: column;
        align-items: center;
    }

    .info {
        width: 100%;
        display: block;
        text-align: left;
    }
}
