.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: #daf6ff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin-bottom: 100px;
}

.header .logo img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
}

nav li {
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

nav a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #0730a3;
}

nav a:hover {
    color: #031e65;
}

nav li.categories {
    position: relative;
}

nav li.categories span {
    cursor: pointer;
    color: #0730a3;
}

nav li.categories:hover .dropdown {
    display: block;
    animation: fadeIn 0.3s ease;
}

nav .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #6ec6f6;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 200px;
}

nav .dropdown li {
    margin: 5px 0;
}

nav .dropdown li button {
    background: none;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    width: 100%;
    text-align: left;
    padding: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

nav .dropdown li button:hover {
    background-color: #00a6ed;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .header {
        padding: 15px;
    }

    nav ul {
        gap: 20px;
    }

    nav li.categories {
        display: none;
    }

    nav .dropdown {
        position: static;
        box-shadow: none;
        min-width: 100%;
    }
}

